<%- include('partials/header') %>

<section class="row align-items-center g-lg-5 py-5">
  <div class="col-12 text-center text-lg-start">
    <h1>About Me</h1>
    <p>
      Born in 1970 in Graz, Austria, I am a software developer with a background
      in linguistics and hands-on teaching experience in diverse educational
      settings. My time in education has provided me with deep insights into the
      challenges and opportunities in learning environments, which I now apply
      to creating user-focused software solutions. Combining my technical
      expertise with a passion for teaching and communication, I excel at
      designing tools that address real-world needs, particularly in education,
      language learning, and communication-focused applications. I am excited to
      bring my interdisciplinary skills to innovative projects that enhance
      learning experiences, improve efficiency, and drive meaningful impact.
    </p>
  </div>
</section>

<%- include('partials/footer') %>
