<%- include('partials/header') %>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Projects</h1>
    <p class="lead text-muted">
      Here you find some of my projects. Check them out!
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img
            class="card-img-top"
            src="assets/images/Chin_Voc.png"
            alt="Mandarin Chinese Vocabulary Trainer"
            style="height: 225px; width: 100%; display: block"
          />
          <div class="card-body">
            <p class="card-text">
              Mandarin Chinese Vocabulary Trainer. Implemented with
              <em>Express.js</em> and a <em>ProstgreSql</em> database.
              <br />Source code:
              <span
                ><a href="https://github.com/bscheucher/chinese-vocabulary-node"
                  >https://github.com/bscheucher/chinese-vocabulary-node</a
                ></span
              >
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <a
                href="https://chinese-vocabulary-node.onrender.com"
                role="button"
                class="btn btn-sm btn-outline-secondary"
              >
                Go to live project
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img
            class="card-img-top"
            src="assets/images/Keeper.png"
            alt="Notes Keeper"
            style="height: 225px; width: 100%; display: block"
          />
          <div class="card-body">
            <p class="card-text">
              Create an account and store your notes in a database. Backend
              implemented with <em>Express.js</em>, frontend with
              <em>React.js</em>, database with <em>PostgreSql</em>. <br />Sorce
              code: <br /><span
                ><a href="https://github.com/bscheucher/keeper-server"
                  >Server</a
                ></span
              >
              <br /><span
                ><a href="https://github.com/bscheucher/keeper-client"
                  >Client</a
                ></span
              >
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <a
                href="https://keeper-client-nykj.onrender.com/"
                role="button"
                class="btn btn-sm btn-outline-secondary"
              >
                Go to live project
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img
            class="card-img-top"
            src="assets/images/work-in-progress-icon.png"
            alt="Next project coming soon"
            style="height: 225px; width: 100%; display: block"
          />
          <div class="card-body">
            <p class="card-text">Next Project coming soon.</p>
            <div class="d-flex justify-content-between align-items-center">
              <button
                type="button"
                class="btn btn-sm btn-outline-secondary"
                disabled
              >
                Go to live project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
